{% extends 'base.html.twig' %}
{% block title %} Accueil {% endblock %}
{% block body %}
<style>
@font-face {
    font-family: 'myFont';
    src: url('font/font2.otf');
}

#tete {
    font-family: 'myFont';
}
</style>
<header class="masthead text-white text-center" style="background-image: url('images/fond.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-5" id="tete">Kanto Hira Malagasy</h1>
            </div>
        </div>
    </div>
</header>

<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-screen-desktop m-auto text-primary"></i>
                    </div>
                    <h3>Artiste De reférence</h3>
                    <p class="lead mb-0">A Madagascar,il existe plusieurs talents.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-layers m-auto text-primary"></i>
                    </div>
                    <h3>Aimez tout les rythmes</h3>
                    <p class="lead mb-0">Rythme vient de tout les tribus qui presente à Madagascar </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-check m-auto text-primary"></i>
                    </div>
                    <h3>Des chansons</h3>
                    <p class="lead mb-0">Chansons diffèrent de tout les pays du monde entier</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row no-gutters">

            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('images/slow.jpg');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Playlist Slow</h2>
                <p class="lead mb-0">Si aujourd’hui, on cherche à faire la playlist ultime des chansons d’amour slow gasy.
                 Et juste la lecture de ces titres évoquera à un malgache ou un  des souvenirs</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('images/variete.jpg');"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Tendance Variété Gasy </h2>
                <p class="lead mb-0">
                Un des rythmes qui exite à Madagascar le plus recent et plus célèbre.Rythme facile à decouvrir qui m'interesse beaucoup 
                au peuple Malagasy.</p>
            </div>
        </div>
    </div>
</section>

<!-- Testimonials -->
<section class="testimonials text-center bg-light">
    <div class="container">
        <h2 class="mb-5">Mpanakanto Malagasy</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{{ asset('images/njakatianalola.jpg')}}" alt="njakatiana&lola">
                    <h5>Njakatiana & Lôla</h5>
                    <p class="font-weight-light mb-0">On peut dire que Njakatiana et Lola sont des artistes très importants et maintiennent toujours l'identité malgache.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{{ asset('images/poopybodo.jpg')}}" alt="poopy&bodo">
                    <h5>Poopy & Bodo</h5>
                    <p class="font-weight-light mb-0">Ces deux dames sont ainsi les chanteuses le plus celèbre depuis la génération 90.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{{ asset('images/ambondrona.jpg') }}" alt="ambondrona">
                    <h5>Ambondrona</h5>
                    <p class="font-weight-light mb-0">Groupe de rock Malagasy crée en 2001, composé de 5 membres actuellement.</p>
                </div>
            </div>
        </div>
    </div>
</section>
   
{% endblock %}